<p-tabView (onChange)="tabchanged($event)">
  <p-tabPanel header="Services">
    <b style="color: blue"><h4>Define a service</h4></b>
    <form style="width: 360px">
      <div class="form-group">
        <label for="serviceName">Service Name</label>
        <input
          type="text"
          class="form-control"
          id="serviceName"
          name="serviceName"
          [(ngModel)]="serviceName"
          placeholder="Enter Service Name"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="createNewService()"
      >
        Submit
      </button>
    </form>
  </p-tabPanel>
  <p-tabPanel header="Create Rest Endpoint">
    <b style="color: blue"><h4>Define a Rest Endpoint</h4></b>
    <form style="width: 360px">
      <div class="form-group">
        <label for="apiType">baseUrl:{{ baseUrl }}</label>
      </div>
      <div class="form-group">
        <label for="apiEndPoint">Api Endpoint Name</label>
        <input
          type="text"
          class="form-control"
          id="apiEndPoint"
          name="apiEndPoint"
          [(ngModel)]="apiEndPoint"
          placeholder="Enter Service Name"
        />
        <label for="service">Select Service</label>
        <select
          class="form-control"
          id="service"
          name="serviceNameFromDropdown"
          [(ngModel)]="serviceNameFromDropdown"
        >
          <option *ngFor="let service of servicesList" [value]="service">
            {{ service }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="apiType">API Type</label>
        <select
          class="form-control"
          id="apiType"
          name="selectedApiType"
          [(ngModel)]="selectedApiType"
        >
          <option>GET</option>
          <option>POST</option>
          <option>PUT</option>
          <option>DELETE</option>
          <option>OPTION</option>
          <option>TRACE</option>
        </select>
      </div>
    </form>
    <div class="row rest-service-attr">
      <div class="form-check ">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="header"
          [checked]="headerChecked"
          (change)="headerSelected($event)"
        />
        <label class="form-check-label" for="header">
          Request Headers
        </label>
      </div>
      <div class="form-check rest-service-chbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="body"
          [checked]="bodyChecked"
          (change)="bodySelected($event)"
        />
        <label class="form-check-label" for="body">
          Request body
        </label>
      </div>
      <div class="form-check rest-service-chbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="query-param"
          [checked]="qParamChecked"
          (change)="qParamSelected($event)"
        />
        <label class="form-check-label" for="query-param">
          Query Parm
        </label>
      </div>
      <div class="form-check rest-service-chbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="response"
          [checked]="responseChecked"
          (change)="responseSelected($event)"
        />
        <label class="form-check-label" for="query-param">
          Response Body
        </label>
      </div>

      <div class="form-check rest-service-chbox">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="responseHeader"
          [checked]="responseHeaderChk"
          (change)="responseHeaderSelected($event)"
        />
        <label class="form-check-label" for="query-param">
          Response headers
        </label>
      </div>
    </div>
    <hr />
    <div class="row">
      <button
        *ngIf="headerChecked"
        type="button"
        id="addHeader"
        class="btn btn-primary btn-sm btn-grp"
        (click)="addHeader('api', 'request')"
      >
        Add Request Header
      </button>
      <button
        *ngIf="bodyChecked"
        type="button"
        id="addbody"
        class="btn btn-primary btn-sm btn-grp"
        (click)="addBody()"
      >
        Add Request Body
      </button>
      <button
        *ngIf="qParamChecked"
        type="button"
        id="addqParam"
        class="btn btn-primary btn-sm btn-grp"
        (click)="addHeader('api', 'queryParam')"
      >
        Add QueryParam
      </button>
      <button
        *ngIf="responseChecked"
        type="button"
        id="addbody"
        class="btn btn-primary btn-sm btn-grp"
        (click)="addResponseBody()"
      >
        Add Response
      </button>
      <button
        *ngIf="responseHeaderChk"
        type="button"
        id="addRHeaders"
        class="btn btn-primary btn-sm btn-grp"
        (click)="addHeader('api', 'response')"
      >
        Add Response Headers
      </button>
    </div>
    <br />
    <hr *ngIf="headers?.length > 0" />
    <p *ngIf="headers?.length > 0"><b>Request Headers List</b></p>
    <div class="row" *ngFor="let header of headers; let i = index">
      <input
        type="text"
        class="form-control input-grp"
        id="headerKeyRequest[i]"
        name="headerKeyRequest[i]"
        [(ngModel)]="headerKeyRequest[i]"
        placeholder="Enter header Key"
      />
      <input
        type="text"
        class="form-control input-grp"
        id="headerValueRequest[i]"
        name="headerValueRequest[i]"
        [(ngModel)]="headerValueRequest[i]"
        placeholder="Enter header value"
      />
    </div>
    <!--query param-->
    <br />
    <hr *ngIf="queryParams?.length > 0" />
    <p *ngIf="queryParams?.length > 0"><b>Query Param List</b></p>
    <div class="row" *ngFor="let param of queryParams; let i = index">
      <input
        type="text"
        class="form-control input-grp"
        id="qParamKeyRequest[i]"
        name="qParamKeyRequest[i]"
        [(ngModel)]="qParamKeyRequest[i]"
        placeholder="Enter query param Key"
      />
      <input
        type="text"
        class="form-control input-grp"
        id="qParamValueRequest[i]"
        name="qParamValueRequest[i]"
        [(ngModel)]="qParamValueRequest[i]"
        placeholder="Enter query param value"
      />
    </div>
    <!--Request Body-->
    <br />
    <hr *ngIf="showBody" />
    <p *ngIf="showBody"><b>Request Body Part</b></p>
    <div class="column body-grp " *ngIf="showBody">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="addMultipart()"
      >
        Add File Upload
      </button>
      <div class="form-group">
        <label for="contentType">Content Type</label>
        <select
          class="form-control"
          id="contentType"
          [(ngModel)]="contentTypeRequest"
        >
          <option>application/json</option>
          <option>application/text</option>
          <option>application/xml</option>
          <option>multipart/form-data</option>
          <option>text/plain</option>
          <option>text/html</option>
          <option>application/javascript</option>
        </select>
      </div>
      <label for="body"><b>Request Body:</b></label>
      <textarea
        class="form-control"
        rows="5"
        id="body"
        [(ngModel)]="bodyRequest"
      ></textarea>
      <div
        class="row multipart-grp"
        *ngFor="let multipart of requestMultipartFiles; let i = index"
      >
        <input
          type="text"
          class="form-control input-grp"
          id="multipartKeyRequest[i]"
          name="multipartKeyRequest[i]"
          [(ngModel)]="multipartKeyRequest[i]"
          placeholder="Enter Multipart File Key"
        />
        <input
          type="file"
          class="form-control-file input-grp"
          id="multipartFileRequest[i]"
          name="multipartFileRequest[i]"
          [(ngModel)]="multipartFileRequest[i]"
          (change)="onFileChange($event, i, 'request')"
        />
        <button
          class="btn btn-primary btn-grp"
          id="multipartuploadRequest[i]"
          (click)="onFileUpload(i, 'request')"
        >
          <i class="fa fa-upload"></i>
        </button>
        <button
          class="btn btn-primary btn-grp"
          id="multipartDelete[i]"
          (click)="deleteFileUpload(i)"
        >
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
    <!-- Resonse Headers-->
    <hr *ngIf="responseHeaders?.length > 0" />
    <p *ngIf="responseHeaders?.length > 0"><b>Response Headers List</b></p>
    <div class="row" *ngFor="let rHeaders of responseHeaders; let i = index">
      <input
        type="text"
        class="form-control input-grp"
        id="headerKeyResponse[i]"
        name="headerKeyResponse[i]"
        [(ngModel)]="headerKeyResponse[i]"
        placeholder="Enter response header Key"
      />
      <input
        type="text"
        class="form-control input-grp"
        id="headerValueResponse[i]"
        name="headerValueResponse[i]"
        [(ngModel)]="headerValueResponse[i]"
        placeholder="Enter response header value"
      />
    </div>
    <!-- Resonse Body-->
    <br />
    <hr *ngIf="showBodyResponse" />
    <p *ngIf="showBodyResponse"><b>Response Body Part</b></p>
    <br>
    <div class="form-check rest-service-chbox" *ngIf="showBodyResponse">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="logicpart"
          [checked]="logicChecked"
          (change)="logicSelected($event)"
        />
        <label class="form-check-label" for="body">
          Add Logic Instead
        </label>
      </div>
      <br>
      <div>
      <label for="body"><b>Response Logic:</b></label>
      <textarea
        class="form-control"
        rows="5"
        id="responseLogic"
        name="responseLogic"
        [(ngModel)]="responseLogic"
        placeholder="function(request){ 
          let response={};
          return response;
          }"
      ></textarea>
    </div>
    <div class="column body-grp " *ngIf="showBodyResponse">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        id="addMultipartResponse"
        (click)="addMultipartResponse()"
      >
        Add Response File
      </button>
      <div class="form-group">
        <label for="contentTypeResponse">Content Type</label>
        <select
          class="form-control"
          id="contentTypeResponse"
          name="contentTypeResponse"
          [(ngModel)]="contentTypeResponse"
        >
          <option>application/json</option>
          <option>application/text</option>
          <option>application/xml</option>
          <option>multipart/form-data</option>
          <option>text/plain</option>
          <option>text/html</option>
          <option>application/javascript</option>
        </select>
      </div>
      <label for="body"><b>Response body:</b></label>
      <textarea
        class="form-control"
        rows="5"
        id="responseBody"
        name="bodyResponse"
        [(ngModel)]="bodyResponse"
        placeholder="Enter Response Body"
      ></textarea>
      <div
        class="row multipart-grp"
        *ngFor="let multipart of responseMultipartFiles; let i = index"
      >
        <input
          type="text"
          class="form-control input-grp"
          id="multipartKeyResponse[i]"
          name="multipartKeyResponse[i]"
          [(ngModel)]="multipartKeyResponse[i]"
          placeholder="Enter Multipart File Key"
        />
        <input
          type="file"
          class="form-control-file input-grp"
          id="multipartFileResponse[i]"
          name="multipartFileResponse[i]"
          [(ngModel)]="multipartFileResponse[i]"
          (change)="onFileChange($event, i, 'response')"
        />
        <button
          class="btn btn-primary btn-grp"
          id="multipartuploadResponse[i]"
          (click)="onFileUpload(i, 'response')"
        >
          <i class="fa fa-upload"></i>
        </button>
        <button
          class="btn btn-primary btn-grp"
          id="multipartDeleteResponse[i]"
          (click)="deleteFileUploadResponse(i)"
        >
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
    <hr />
    <div class="row">
      <div *ngIf="requestTokenMap?.size > 0">
        <p><b>Request Body Tokens</b></p>
        <div
          class="row multipart-grp"
          *ngFor="let requestToken of requestTokenMap | keyvalue; let i = index"
        >
          <input
            type="text"
            class="form-control input-grp"
            id="requestTokenKey[i]"
            name="requestTokenKey[i]"
            value="{{ requestToken.key }}"
            readonly
          />
          <input
            type="text"
            class="form-control input-grp"
            id="requestTokenValue[i]"
            name="requestTokenValue[i]"
            [(ngModel)]="requestTokenValue[i]"
            placeholder="Enter the token value"
          />
        </div>
        <hr />
      </div>
      <div *ngIf="responseTokenMap?.size > 0">
        <p><b>Response Body Tokens</b></p>
        <div
          class="row multipart-grp"
          *ngFor="
            let responseToken of responseTokenMap | keyvalue;
            let i = index
          "
        >
          <input
            type="text"
            class="form-control input-grp"
            id="responseTokenVKey[i]"
            name="responseTokenVKey[i]"
            value="{{ responseToken.key }}"
            readonly
          />
          <input
            type="text"
            class="form-control input-grp"
            id="responseTokenValue[i]"
            name="responseTokenValue[i]"
            [(ngModel)]="responseTokenValue[i]"
            placeholder="Enter the token value"
          />
        </div>
        <hr />
      </div>
    </div>
    <button
      type="button"
      id="initialSubmitBtn"
      class="btn btn-primary"
      (click)="submitApiEndpointDef()"
      *ngIf="showSubmitBtn"
    >
      Submit
    </button>
    <button
      type="button"
      id="finalSubmitBtn"
      class="btn btn-primary"
      (click)="submitApiFinally()"
      *ngIf="!showSubmitBtn"
    >
      Submit
    </button>
  </p-tabPanel>
  <p-tabPanel header="Create Soap EndPoint">
    <b style="color: blue"><h4>Define a Soap Endpoint</h4></b>
    <form style="width: 660px">
      <div class="form-group">
        <label for="service"><b>Select Service</b></label>
        <select
          class="form-control"
          id="service"
          name="serviceNameFromDropdown"
          [(ngModel)]="serviceNameFromDropdown"
        >
          <option *ngFor="let service of servicesList" [value]="service">
            {{ service }}
          </option>
        </select>
        <br />
        <label for="serviceName"><b>Soap Endpoint Name</b></label>
        <input
          type="text"
          class="form-control"
          id="soapEndPoint"
          name="soapEndPoint"
          [(ngModel)]="soapEndPoint"
          placeholder="Enter Soap Endpoint Name"
        />
        <br />
        <br />
        <label for="serviceWsdl"><b>Enter WSDL</b></label>
        <textarea
          class="form-control"
          rows="5"
          id="soapwsdl"
          name="soapwsdl"
          [(ngModel)]="soapwsdl"
          placeholder="Enter SOAP WSDL"
        ></textarea>
        <br />
        <br />
        <div class="row">
          <button
            type="button"
            id="soapaddHeaderRequest"
            class="btn btn-primary btn-sm btn-grp"
            (click)="addHeader('soap', 'request')"
          >
            Add Request Headers
          </button>
          <button
            type="button"
            id="soapHeaderResponse"
            class="btn btn-primary btn-sm btn-grp"
            (click)="addHeader('soap', 'response')"
          >
            Add Response Headers
          </button>
        </div>
        <!-- Request Headers-->
        <hr *ngIf="soapRequestHeaders?.length > 0" />
        <p *ngIf="soapRequestHeaders?.length > 0">
          <b>Request Headers List</b>
        </p>
        <div
          class="row"
          *ngFor="let rHeaders of soapRequestHeaders; let i = index"
        >
          <input
            type="text"
            class="form-control input-grp"
            id="soapHeaderKeyRequest[i]"
            name="soapHeaderKeyRequest[i]"
            [(ngModel)]="soapHeaderKeyRequest[i]"
            placeholder="Enter Request header Key"
          />
          <input
            type="text"
            class="form-control input-grp"
            id="soapHeaderValueRequest[i]"
            name="soapHeaderValueRequest[i]"
            [(ngModel)]="soapHeaderValueRequest[i]"
            placeholder="Enter Request header value"
          />
        </div>

        <br />

        <!-- Response Headers-->
        <hr *ngIf="soapResponseHeaders?.length > 0" />
        <p *ngIf="soapResponseHeaders?.length > 0">
          <b>Response Headers List</b>
        </p>
        <div
          class="row"
          *ngFor="let rHeaders of soapResponseHeaders; let i = index"
        >
          <input
            type="text"
            class="form-control input-grp"
            id="soapHeaderKeyResponse[i]"
            name="soapHeaderKeyResponse[i]"
            [(ngModel)]="soapHeaderKeyResponse[i]"
            placeholder="Enter Response header Key"
          />
          <input
            type="text"
            class="form-control input-grp"
            id="soapHeaderValueResponse[i]"
            name="soapHeaderValueResponse[i]"
            [(ngModel)]="soapHeaderValueResponse[i]"
            placeholder="Enter Response header value"
          />
        </div>
        <br />
        <label for="soapBody"><b>SOAP Request Body</b></label>
        <textarea
          class="form-control"
          rows="5"
          id="soapBody"
          name="soapBody"
          [(ngModel)]="soapBody"
          placeholder="Enter Soap Request Body"
        ></textarea>
        <br />
        <label for="soapResponse"><b>SOAP Response Body</b></label>
        <textarea
          class="form-control"
          rows="5"
          id="soapResponse"
          name="soapResponse"
          [(ngModel)]="soapResponse"
          placeholder="Enter Soap Response Body"
        ></textarea>
      </div>
      <hr />
      <div class="row">
        <div *ngIf="soapRequestTokenMap?.size > 0">
          <p><b>Request Body Tokens</b></p>
          <div
            class="row multipart-grp"
            *ngFor="
              let requestToken of soapRequestTokenMap | keyvalue;
              let i = index
            "
          >
            <input
              type="text"
              class="form-control input-grp"
              id="soapRequestTokenKey[i]"
              name="soapRequestTokenKey[i]"
              value="{{ requestToken.key }}"
              readonly
            />
            <input
              type="text"
              class="form-control input-grp"
              id="soapRequestTokenValue[i]"
              name="soapRequestTokenValue[i]"
              [(ngModel)]="soapRequestTokenValue[i]"
              placeholder="Enter the token value"
            />
          </div>
          <hr />
        </div>

        <div *ngIf="soapResponseTokenMap?.size > 0">
          <p><b>Response Body Tokens</b></p>
          <div
            class="row multipart-grp"
            *ngFor="
              let responseToken of soapResponseTokenMap | keyvalue;
              let i = index
            "
          >
            <input
              type="text"
              class="form-control input-grp"
              id="soapResponseTokenKey[i]"
              name="soapResponseTokenKey[i]"
              value="{{ responseToken.key }}"
              readonly
            />
            <input
              type="text"
              class="form-control input-grp"
              id="soapResponseTokenValue[i]"
              name="soapResponseTokenValue[i]"
              [(ngModel)]="soapResponseTokenValue[i]"
              placeholder="Enter the token value"
            />
          </div>
          <hr />
        </div>
      </div>
      <button
        *ngIf="!enableSoapSecondaryBtn"
        type="submit"
        class="btn btn-primary"
        id="soapPrimary"
        (click)="addSoapEndpoint()"
      >
        Submit
      </button>
      <button
        *ngIf="enableSoapSecondaryBtn"
        type="submit"
        class="btn btn-primary"
        id="soapSecondary"
        (click)="submitSoapEndpointFinally()"
      >
        Submit
      </button>
    </form>
  </p-tabPanel>
</p-tabView>
