<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-custom">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" routerLink="home">
          <img
            src="../assets/images/mocker.png"
            alt="sap logo"
            id="saplogo"
            class="img-logo-main"
        /></a>
      </div>
    </div>
  </div>

  <ul *ngIf="isLoggedIn" class="navbar-menu navbar-width">
    <li class="navbar-usuario">
      <a routerLink="/">
        <img
          src="../assets/images/Logo_SAP.jpg"
          alt="sap logo"
          id="saplogo"
          class="img-logo"
      /><span style="color:whitesmoke"><b>HOME</b></span></a>
    </li>
    <li class="navbar-menuitem">
      <a routerLink="dashboard"
        ><img
          src="../assets/images/dashboard.png"
          alt="sap logo"
          id="saplogo"
          class="img-menu"
        /><b>Dashboard</b></a
      >
    </li>
    <li class="navbar-menuitem">
      <a routerLink="service-mock"
        ><img
          src="../assets/images/mock.png"
          alt="sap logo"
          id="saplogo"
          class="img-menu"
        /><b>Mock a Service</b></a
      >
    </li>
    <li class="navbar-menuitem">
      <a routerLink="edit-mock"
        ><img
          src="../assets/images/edit-mock.png"
          alt="sap logo"
          id="saplogo"
          class="img-menu"
        /><b>Edit Mocks</b></a
      >
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
