<h4 style="color: blue; text-align: center;">
  Manage Auto Updates and Redirects
</h4>
<hr />
<div class="col" style="margin-left:10px;">
  <table class="table table-main">
    <thead class="black table-hover">
      <tr>
        <th>#</th>
        <th>ServiceName</th>
        <th>ApiEndpoint</th>
        <th>Source URL</th>
        <th>Auth Key</th>
        <th>Redirect Enabled</th>
        <th>Auto Update Enabled</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let redirect of redirectInfo; let i = index">
        <td scope="row">{{ i }}</td>
        <td>{{ redirect.serviceName }}</td>
        <td>{{ redirect.apiEndpointName }}</td>
        <td style="width: 400px">
          <input
            type="text"
            class="form-control input-grp"
            id="srcUrl[i]"
            name="srcUrl[i]"
            [(ngModel)]="redirectInfo[i].redirectUrl"
            placeholder="Source URL"
            [disabled]="
              !redirect.redirectEnabled && !redirect.autoUpdateEnabled
            "
          />
        </td>
        <td>
          <div class="row" style="width: 300px">
            <input
              type="text"
              class="form-control input-grp"
              id="authHeaderKey[i]"
              name="redirect.authHeader.key"
              [(ngModel)]="redirect.authHeader.key"
              placeholder="Source Auth Header Key"
              [disabled]="
                !redirect.redirectEnabled && !redirect.autoUpdateEnabled
              "
            />
            <input
              type="text"
              class="form-control input-grp"
              id="authHeaderValue[i]"
              name="redirect.authHeader.value"
              [(ngModel)]="redirect.authHeader.value"
              placeholder="Source Auth Header Value"
              [disabled]="
                !redirect.redirectEnabled && !redirect.autoUpdateEnabled
              "
            />
          </div>
        </td>
        <td class="align-center">
          <input
            class="form-check-input"
            type="checkbox"
            value="checked"
            id="redirectEnabled[i]"
            (click)="onCheck('redirect', i, $event.target.checked)"
            [(ngModel)]="redirect.redirectEnabled"
          />
        </td>
        <td class="align-center">
          <input
            class="form-check-input"
            type="checkbox"
            value="checked"
            id="autoUpdateEnabled[i]"
            (click)="onCheck('update', i, $event.target.checked)"
            [(ngModel)]="redirect.autoUpdateEnabled"
          />
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="onSave()">Save</button>
</div>
