<h4 style="color: blue; text-align: center;">Manage Auto Updates and Redirects</h4>
<hr>
<div class="col">
<table class="table table-main">
    <thead class="black table-hover">
      <tr>
        <th >#</th>
        <th >ServiceName</th>
        <th >ApiEndpoint</th>
        <th >Add Redirect</th>
        <th >Auto Update Mock</th>
        <th >Redirect Enabled</th>
        <th >Auto Update Enabled</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let api of apiEndpointsList; let i = index">
        <td scope="row">{{i}}</td>
        <td>{{api.serviceName}}</td>
        <td>{{api.apiEndpointName}}</td>
        <td><button data-toggle="tooltip"
            data-placement="auto"
            pButton class="btn btn-primary" [disabled]="!redirectEnabled[i]" (click)="redirectMenu.toggle($event)" >Add Redirect <i class="fa fa-external-link"></i></button></td>
        <td><button data-toggle="tooltip"
            data-placement="auto"
            pButton class="btn btn-primary" [disabled]="!updateEnabled[i]" (click)="updateMenu.toggle($event)">Add Auto Update <i class="fa fa-refresh"></i></button></td>
        <td class="align-center"><input class="form-check-input" type="checkbox" value="checked" id="redirectEnabled[i]" (click)="onCheck('redirect',i,$event.target.checked)"></td>
        <td class="align-center"><input class="form-check-input" type="checkbox" value="checked" id="autoUpdateEnabled[i]" (click)="onCheck('update',i,$event.target.checked)"></td>
      </tr>
    </tbody>
  </table>
</div>

<p-overlayPanel #redirectMenu>
    <p>redirected</p>

</p-overlayPanel>

<p-overlayPanel #updateMenu>
    <p>update</p>

</p-overlayPanel>