<h4 style="color: blue; text-align: center;">Manage Auto Updates and Redirects</h4>
<hr>
<div class="col">
<table class="table table-main">
    <thead class="black table-hover">
      <tr>
        <th >#</th>
        <th >ServiceName</th>
        <th >ApiEndpoint</th>
        <th >Add Redirect</th>
        <th >Auto Update Mock</th>
        <th >Redirect Enabled</th>
        <th >Auto Update Enabled</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>SLP</td>
        <td>/api/v1/get/test123</td>
        <td><button class="btn btn-primary">Add Redirect <i class="fa fa-external-link"></i></button></td>
        <td><button class="btn btn-primary">Add Auto Update <i class="fa fa-refresh"></i></button></td>
        <td class="align-center"><input class="form-check-input" type="checkbox" value="checked" id="redirectEnabled"></td>
        <td class="align-center"><input class="form-check-input" type="checkbox" value="checked" id="autoUpdateEnabled"></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary">Submit</button>
</div>